<% flash.each do |name, message| %>
<div class='alert alert-<%="#{name}" %>'>
<a href='#' class='close' data-dismiss='alert'>&#215;</a>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
      </div>
<% end %>