<% content_for :page_title do %>
  Things We've Made
<% end %>
<div class="container">
<div class="row">


<%= render partial: "shared/project_panel", collection: @projects, as: "project" %>
    
</div>
</div>







